<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!--#1-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
</head>


<body>
    <div ng-app="myApp" ng-controller="myCtrl" class="container">
        <!--#2-->
        <!--#7-->
        <br>

        <!--Form-->
        <div class="well">
            <h1>Eingabefeld für {{user.name}}!</h1>
            <!--#4-->
            <form name="myForm">
                <p>Name :
                    <input class="form-control" type="text" name="name" ng-model="user.name" required autofocus>
                    <!--#3-->
                </p>
                <p>E-Mail :
                    <input class="form-control" type="email" name="email" ng-model="user.email">
                </p>
                <div class="alert alert-danger" ng-show="myForm.email.$error.email">E-Mail ungültig!!!1!1!1elf!1!!!!</div>
                <!--#5-->
                <p>Projekt :
                    <select class="form-control" ng-model="user.projekt">
                        <option value="" />
                        <option value="Medikit" />Medikit
                        <option value="Fahrtenbuch" />Fahrtenbuch
                    </select>
                </p>
                <button class="btn btn-danger btn-lg" ng-click="reset()">Reset</button>
                <!--#5.5-->
                <button class="btn btn-primary btn-lg" ng-disabled="myForm.name.$invalid || myForm.email.$error.email" ng-click="addItem()">Speichern</button>
                <!--#5-->
                <!--#9-->
            </form>
        </div>

        <!--Tabelle-->
        <div class="well">
            <p>
                <input type="text" class="form-control" placeholder="Suche" ng-model="suche">
                <!--#6-->
            </p>
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th ng-click="orderByMe('Name')">Name</th>
                        <th ng-click="orderByMe('Email')">E-Mail</th>
                        <th ng-click="orderByMe('Projekt')">Projekt</th>
                    </tr>
                    <tr ng-repeat="x in teilnehmer | filter : suche | orderBy: myOrderBy" class="repeated-item">
                        <!--#6-->
                        <!--#8-->
                        <td>{{ x.Name }}</td>
                        <td>{{ x.Email }}</td>
                        <td>{{ x.Projekt }}</td>
                        <td>
                            <button type="button" class="btn btn-default pull-right" ng-click="removeItem($index)"><span class="glyphicon glyphicon-remove"></span></button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="controller.js"></script>
    <!--#7-->
</body>

</html>
